.flex-start {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.flex-end {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.space-between {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.space-around {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.space-evenly {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}


.stretch {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}