body {
    background-color: var(--neutral-dark);
    font-family: "Outfit", serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 25px;
}

.nft-card {
    max-width: 350px;
    background-color: var(--neutral-medium);
    border-radius: 15px;
    padding: 25px;
}

.image-link {
    position: relative;
    display: flex;
}

.image-link .image {
    width: 100%;
    border-radius: 7px;
}

.image-link::before {
    content: '';
    background-color: aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.image-link::after {
    content: '';
    background: url(../images/icon-view.svg) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.image-link:hover::before, .image-link:hover::after {
    opacity: 0.4;
}

.title-link .title {
    font-size: 22px;
    color: #fff;
    margin: 25px 0 20px;;
}

.title-link .title:hover {
    color: var(--primary-medium);
}

.about {
    color: var(--primary-soft);
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 23px;
}

.nft-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.nft-info .price {
    color: var(--primary-medium);
    display: flex;
}

.nft-info .price::before {
    content: '';
    background-image: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
}

.nft-info .days-left {
    color: var(--primary-soft);
    display: flex;
}

.nft-info .days-left::before {
    content: '';
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    display: inline-block;
    margin-right: 7px;
}

.creator {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--neutral-soft);
    padding-top: 15px;
}

.creator .avatar {
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.creator .text {
    color: var(--primary-soft);
}

.creator .text .name {
    color: #fff;
}

.creator .text .name:hover {
    color: var(--primary-medium);
}