/* seletor::pseudo-elemento {
    propriedade: valor;
} */

.first-letter::first-letter {
    color: coral;
}

.first-line::first-line {
    color: coral;
}

.first-line::first-letter {
    color: blue;
}

li::marker{
    color: red;
    font-size: 23px;
}

h2::after {
    content: url(logo.png);
}

h2::before {
    content: url(logo.png);
}
